/* main {
    display: grid;
    grid-template: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px  / 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
} */

/* @media (max-width: 576px){
    main {
        display: block;
        max-width: 300px;
    }
    div {width: 100px;
        height: 100px;
        display: inline-block;}
  } */

* {
    font-family: 'Orbitron', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    text-align: center;
    margin: 12px;
}

h2 {
    margin: 6px;
    font-size: 16px;
    line-height: 0.8;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inputBox {
    width: 60px;
    text-align: center;
    display: inline;
    margin: 3px;
    border-radius: 5px;
}

.inlineDiv {
    display: inline;
}

.square {
    display: inline;
margin: 4px;
    width: 100px;
    height: 100px;
    display: flex;
    background-color: rgb(245, 245, 245);
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);

    transition: transform .8s;
    /* Animation */
}

.square:hover {
    /* transform: scale(0.9); */
    transform: rotate(360deg);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}








div.fizzbuzz {



    background: rgb(0, 0, 0);
    /* background-image: url("https://i.gifer.com/XJCI.gif"); */
    background-position: 50%, 50%;
    border-radius: 10%;
    color: white;
}




.buzz {
    background: rgb(124, 124, 124);
    border-radius: 10%;
}

.fizz {
    background: rgb(189, 189, 189);
    border-radius: 10%;
}

.btn {
    margin: 3px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.footer {
    text-align: center;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: fixed;
    /* Set the navbar to fixed position */
    bottom: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
}