/* main {
    display: grid;
    grid-template: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px  / 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
} */

/* @media (max-width: 576px){
    main {
        display: block;
        max-width: 300px;
    }
    div {width: 100px;
        height: 100px;
        display: inline-block;}
  } */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.square {
    margin: 3px;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: rgb(101, 153, 153);
}
.fizzbuzz{ background:rgb(51, 124, 172)}
.buzz{ background:rgb(57, 240, 11)}
.fizz{ background:rgb(245, 96, 28)}
